<div class="navbar navbar-expand-sm justify-content-between navbar-dark" style="background-color: #27A745;">
    <a href="/">
        <span class="navbar-brand ml-4 mb-0 h1">
        <i class="fa fa-comments-o fa-lg" aria-hidden="true"></i>
        Comment
        </span>
    </a>
    <div class="nav-item mr-4">
      <ul class="navbar-nav text-left mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
      </ul>
    </div>
</div>