<div class="jumbotron my-4">
  <h1 class="display-4">Hello, comment!</h1>
  <p class="lead">This is a simple project by a lone programmer, yes I used google translator *-*.</p>
  <p class="lead">I thought of creating something simple and maybe fun. I call it a comment. It may seem strange, and it is, but for a moment I thought it could somehow be an escape for people who need to tell someone something important or even something clueless, why? I believe that there are people who need to vent without being judged.</p>
  <hr class="my-4">
  <p>So comment. Yes, you can comment as you wish, but I would like you to wait 20s before posting a new comment. And if you want to whisper something in the comment you're reading, don't hesitate, you can whisper as much as you want. Perhaps the owner of the comment will see it.</p>
</div>