<div class="navbar navbar-expand-sm justify-content-between navbar-dark" style="background-color: #27A745;">
    <span class="navbar-brand mb-0 h1">
      <i class="fa fa-comments-o" aria-hidden="true"></i>
      Comment
    </span>

    <div class="nav-item">
      <ul class="navbar-nav text-left mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="">About</a>
        </li>
      </ul>
    </div>
</div>


<div class="container text-center">
  <div class="time" title="Aguarde o tempo terminar para poder comentar">
    <h1 class="display-1 my-5" id="time">5</h1>
  </div>

  <div id="commet">
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
  </div>

  <div class="formulario my-5">
    <form action="/comment" method="POST" id="formComment">
      <div class="form-group">
        <textarea name="commnet" class="form-control" rows="3"></textarea>
      </div> 
      <div class="form-group" >
        <a id="btnComment" class="btn btn-success btn-lg disabled" role="button" aria-disabled="true" onclick="submit()">Comment</a>
      </div>
    </form>
  </div>

  <div class="text-muted mt-5">
    © Comment 2020
  </div>
</div>